html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-color: #fff; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

body {
  font-weight: 300;
  line-height: 1.6; }

.container {
  margin: 0 auto;
  display: grid;
  grid-template-rows: [header-start] 300px [header-end projects-start] 600px [projects-end technologies-start] 300px [technologies-end footer-start] 200px [footer-end];
  grid-template-columns: [left-space-start] 1fr [left-space-end main-start] 1100px [main-end right-space-start] 1fr [right-space-end]; }

.header {
  background-color: #fff;
  border: 1px solid black;
  grid-column: left-space-start / right-space-end;
  grid-row: header-start / header-end; }

.heading-primary {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 48px;
  font-weight: 400;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif; }

.projects {
  background-color: purple;
  grid-row: projects-start / projects-end;
  grid-column: main-start / main-end; }

.technologies {
  background-color: rosybrown;
  grid-row: technologies-start / technologies-end;
  grid-column: left-space-start / right-space-end; }

.footer {
  background-color: yellowgreen;
  grid-row: footer-start / footer-end;
  grid-column: left-space-start / right-space-end; }

@keyframes headerTextAnimation {
  /* ! Browsers are only optimezed to animate opacity and transform properties */
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  30% {
    opacity: .3; }
  50% {
    opacity: .5; }
  80% {
    transform: translateX(10px); }
  100% {
    opacity: 1; } }

@keyframes headerSubTextAnimation {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1; } }
